[Unit]
Description=My django_app
After=network-online.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/opt/django_app
ExecStart=/.venv/Scripts/python manage.py runserver 0.0.0.0:8080
Restart=always

[Install]
WantedBy=multi-user.target